body{
  background-color:grey;
}
.container{
  background-color:whitesmoke;
  min-width:600px;
  margin: 0 auto;
}
h1 {
  text-align: center;
  color: #333;
  font-family: "Courier New", Courier, monospace;
  margin-top: 20px;
  font-size: 2.5em;
  font-weight: bolder;
}
footer {
  text-align: center;
  margin-top: 20px;
}

